@if (isVisible()) {
<div
  class="modal fade show d-flex justify-content-center align-items-center bg-dark bg-opacity-50"
  role="dialog"
  aria-modal="true"
  tabindex="-1"
  (click)="closeModal()"
>
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content p-4 rounded-4 shadow-lg border-0 text-center align-items-center">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold mb-0">{{ title() }}</h5>
      </div>
      <div class="modal-body">
        <p class="mb-0">{{ message() }}</p>
      </div>
    </div>
  </div>
</div>
}
