<main
  class="d-flex flex-column align-items-center justify-content-center text-center py-5"
  aria-label="Pantalla de bienvenida a la app"
>
  <section class="d-flex flex-column align-items-center justify-content-center welcome-section">
    <h1 class="mb-3 fw-bolder">Benvingut/da a l’aplicació de pressupostos!</h1>
    <p class="mb-4 text-secondary">Configura el teu pressupost web de manera fàcil i ràpida.</p>
    <button
      class="btn btn-dark btn-lg shadow"
      (click)="goToHome()"
      aria-label="Comenzar configuración del presupuesto"
    >
      Començar
    </button>
  </section>
</main>
