<section class="d-flex flex-column m-4">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex flex-row align-items-center justify-content-right">
      <img class="col-1 mx-3" src="https://cdn-icons-png.flaticon.com/512/2111/2111125.png" />
      <div class="fs-4 fw-semibold">Frontender.itacademy</div>
    </div>
    <button class="btn btn-dark btn-lg shadow" (click)="goToWelcome()">Enrere</button>
  </div>
  <h1
    class="bg-image d-flex align-items-center justify-content-center my-5 mx-5 fw-bold rounded-5 shadow"
  >
    Aconsegeix la millor qualitat
  </h1>
</section>
<section class="d-flex flex-column align-items-center justify-content-center">
  <div
    class="d-flex flex-column col-9 my-2 rounded-5 shadow option-card"
    *ngFor="let service of services; let i = index"
    [class.selected]="service.enabled"
  >
    <div class="d-flex flex-row align-items-center justify-content-between w-100">
      <div class="d-flex flex-column m-5">
        <h2 class="fw-bold">{{ service.name }}</h2>
        <span class="fw-semibold">Programació d'una web responsive completa</span>
      </div>
      <div class="d-flex flex-row">
        <h1 class="fw-bolder">{{ service.basePrice }}</h1>
        <span class="euro-sign fw-semibold mx-1">€</span>
      </div>
      <div class="d-flex flex-row m-5">
        <input
          class="form-check-input mx-1"
          type="checkbox"
          [checked]="service.enabled"
          (change)="toggleBorder($event, i)"
        />
        <label class="form-check-label fw-bold">Afegir</label>
      </div>
    </div>
    <app-panel
      *ngIf="service.enabled"
      [serviceId]="service.id"
      (valuesChanged)="updatePanelValues($event)"
      (openHelp)="openHelpFromPanel($event)"
    ></app-panel>
  </div>
</section>
<section class="d-flex flex-row align-items-center justify-content-end w-100 my-5">
  <h2 class="fw-bold mx-5">Preu pressuposat:</h2>
  <div class="d-flex flex-row mx-4">
    <h1 class="fw-bolder">{{ totalCost }}</h1>
    <span class="euro-sign fw-semibold mx-1">€</span>
  </div>
</section>

<app-modal
  [isVisible]="showHelpModal"
  [title]="helpType === 'pages' ? 'Número de pàgines' : 'Número de llenguatges'"
  [message]="
    helpType === 'pages'
      ? 'Afegeix les pàgines que tindrà el teu projecte. El cost de cada pàgina és de 30€.'
      : 'Afegeix els llenguatges que tindrà el teu projecte. El cost de cada llenguatge és de 30€.'
  "
  (closed)="closeModal()"
></app-modal>
