.bg-image {
  background-image: url('https://img.freepik.com/vector-gratis/telon-fondo-abstracto-estilo-poli-presentacion-moderna_1017-53594.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;
  background-position: center;
  height: 15vh;
}

button {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.euro-sign {
  line-height: 3.5rem;
}

.option-card {
  transition: all 0.3s ease;
  border: 2px solid transparent;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  &.selected {
    border: 2px solid #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.4);
  }
}

.input-shadow:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  outline: none;
}
