.btn-circle-sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0;
}

.count-box {
  min-width: 2.5rem;
  text-align: center;
}

@media (max-width: 576px) {
  section {
    .count-box {
      font-size: 0.9rem;
    }
    .btn-circle-sm {
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0.9rem;
    }
  }
}
