.sort-option {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  &.active {
    color: #000;
  }
}

.option-card {
  transition: all 0.3s ease;
  flex-direction: row;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  &.selected {
    border: 2px solid #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.4);
  }

  h4,
  h5,
  p,
  span {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.search-input:focus {
  border-bottom-color: #000;
}

@media (max-width: 768px) {
  .option-card {
    flex-direction: column;

    h4,
    h5 {
      font-size: 1rem;
    }

    p,
    span {
      font-size: 0.75rem;
    }

    h4,
    h5,
    p,
    span {
      word-wrap: normal;
      overflow-wrap: normal;
    }
  }
}
