<section class="d-flex flex-column my-5 col-10 mx-auto">
  <h2 class="fw-bold mb-3 text-start ms-5">Pressupostos en curs:</h2>

  <div class="d-flex justify-content-end align-items-center mb-4 me-5 gap-3">
    <input
      type="text"
      class="form-control form-control-sm w-25 border-0 border-bottom bg-transparent shadow-none p-1 search-input"
      placeholder="Cerca per nom..."
      [(ngModel)]="searchTerm"
    />

    <span
      role="button"
      tabindex="0"
      class="fw-semibold cursor-pointer sort-option"
      [class.active]="currentSort() === 'date'"
      (click)="sort('date')"
      aria-label="Ordenar por fecha"
    >
      Data {{ getArrow('date') }}
    </span>

    <span
      role="button"
      tabindex="0"
      role="button"
      tabindex="0"
      class="fw-semibold cursor-pointer sort-option"
      [class.active]="currentSort() === 'price'"
      (click)="sort('price')"
      aria-label="Ordenar por precio"
    >
      Preu {{ getArrow('price') }}
    </span>

    <span
      role="button"
      tabindex="0"
      class="fw-semibold cursor-pointer sort-option"
      [class.active]="currentSort() === 'name'"
      (click)="sort('name')"
      aria-label="Ordenar por nombre"
    >
      Nom {{ getArrow('name') }}
    </span>
  </div>

  @if (budgets().length === 0) {
  <div class="d-flex justify-content-center text-muted fst-italic">
    Encara no hi ha pressupostos creats.
  </div>
  } @else { @for (budget of budgets(); track budget.clientName) {
  <div class="d-flex flex-row col-11 my-4 p-4 rounded-5 shadow bg-white option-card mx-auto">
    <div class="d-flex flex-column col-4 mx-2">
      <h4 class="fw-bold mb-0 text-break">{{ budget.clientName }}</h4>
      <p class="mb-0 text-break">{{ budget.email }}</p>
      <p class="mb-0">{{ budget.phone }}</p>
    </div>

    <div class="d-flex flex-column align-items-start col-5 mx-2">
      <h5 class="fw-semibold mb-2">Serveis seleccionats:</h5>
      <ul class="ms-3 mb-0 ps-0">
        @for (service of budget.services; track service.name) {
        <li class="fw-bold">
          {{ service.name }}
          @if (service.pages > 0 || service.languages > 0) {
          <span>
            ( @if (service.pages > 0) {
            <span>{{ service.pages }} pàgines</span>
            } @if (service.pages > 0 && service.languages > 0) {
            <span>, </span>
            } @if (service.languages > 0) {
            <span>{{ service.languages }} llenguatges</span>
            } )
          </span>
          }
        </li>
        }
      </ul>
    </div>

    <div class="d-flex flex-column align-items-center col-3 mx-2">
      <p class="fw-bold mb-1">Total:</p>
      <h1 class="fw-bolder">{{ budget.total }} €</h1>
    </div>

    <button class="btn btn-dark fw-semibold my-3 p-0" (click)="shareBudget(budget)">
      Compartir
    </button>
  </div>
  } }
</section>
