.sort-option {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  &.active {
    color: #000;
  }
}

.option-card {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  &.selected {
    border: 2px solid #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.4);
  }
}

.search-input:focus {
  border-bottom-color: #000;
}
